@font-face {
  font-family: Maven;
  src: url(../assets/font/MavenPro-VariableFont_wght.ttf);
}

@font-face {
  font-family: Seoge;
  src: url(../assets/font/Segoe\ UI.ttf);
}
 body{
  width:99.5%;
 }

#buttonHover:hover{
  box-shadow: rgba(95, 89, 93, 0.4) 5px 5px, rgba(82, 77, 80, 0.3) 4px 4px, rgba(70, 66, 68, 0.2) 4px 4px, rgba(240, 46, 170, 0.1) 10px 10px, rgba(240, 46, 170, 0.05) 10px 10px;
  width:140px
}

#overflow::-webkit-scrollbar{
  height:5px;
  background-color: lightgray;
}

#overflow::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
#overflow::-webkit-scrollbar-thumb {
  background: #9b2829; 
  border-radius: 10px;
}

/* Handle on hover */
#overflow::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

#carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #a3a3a3;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}


#selectRow:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 10px;
  width:107%;
  margin-left: -3%;
  margin-bottom: 4px;
  margin-top: 4px;
}
#selectRow{
  width:101.7%;
  margin-bottom: 4px;
  margin-top: 4px;
  border-radius: 5px;
}

/* ::-webkit-scrollbar {
  width: 0;  
  background: transparent;  
} */
#carousel-indicators .active {
    width: 10px;
    height: 10px;
    margin: 5px;
    background-color: #9b2829;
}
p{
    font-size: 15px;
}
label{
    font-size: 15px; 
}
a{
    font-size: 15px;
    cursor: pointer;
}
button{
    font-size: 15px;
}

#form-file-upload {
    height: 10rem;
    width: 28rem;
    max-width: 100%;
    text-align: center;
    position: relative;
  }
  
  #input-file-upload {
    display: none;
  }
  
  #label-file-upload {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 2px;
    border-radius: 1rem;
    margin-top: 25px;
    /* border-style: dashed; */
    /* border-color: #cbd5e1; */
    /* background-color: #f8fafc; */
  }
  
  .upload-button {
    cursor: pointer;
    padding: 0.25rem;
    font-size: 1rem;
    border: none;
    font-family: 'Oswald', sans-serif;
    background-color: transparent;
  }
  
  .upload-button:hover {
    text-decoration-line: underline;
  }